@model Kixify.OnFeet.Service.Models.ImageItemResponse

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Images</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Created" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
        </div>
     
        <div class="form-group">
            <label asp-for="DeviceType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeviceType" class="form-control" />
                <span asp-validation-for="DeviceType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Platform" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfileUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProfileUrl" class="form-control" />
                <span asp-validation-for="ProfileUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sku" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
